---
whiskers:
  version: 2.5.1
  filename: "config.json"
---
{
  "setting_defaults": {
    "custom_themes": [
      {%- for _, flavor in flavors %}
      {{ read_file(path="../themes/catppuccin-" ~ flavor.identifier ~ "/catppuccin-" ~ flavor.identifier ~ "-lavender.json") | indent(prefix="      ") -}}
      {% if not loop.last %},{% endif %}
      {%- endfor %}
    ]
  },
  "show_labs_settings": true
}
